select
{
    width: 100%; /* Prevents auto adjustment */
    border: 2px gray solid;
    border-radius: 5px;
}

table table /* All inner tables because the whole page is a table for left and right side */
{
    text-align:center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

h1, table table
{
    border-collapse: separate;
    border-spacing: 0px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 5px;
}

h1, th
{
    background-color: rgb(150, 150, 150);
    color: whitesmoke;
}

h1
{
    border-width: 3px;
    word-spacing: 3px;
}

th
{
    border: 1.5px solid gray;
    border-bottom-width: 3px;
    padding-inline: 6px; /* Left & right */
    padding-block: 2px; /* Top & bottom */
    margin: 0;
}

td
{
    text-align:center;
}

.halfPage
{
    width: 50%;
    text-align: center;
}

#leftPage
{
    background-image: url("https://cdn.wallpapersafari.com/56/74/M2ruQG.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#gif-box
{
    margin-left: auto;
    width: 700px;
    height: 500px;
    background-size:auto;
    background-repeat: no-repeat;
}

/* #tableStateInput
{
    
} */

/* Unique Div Elements */
.vl
{
    border-left: 2px solid black;
    height: 100vh;
}

/*#region ---=== CSS SPECIAL UNIQUE CUSTOM CHECKBOX MADE BY ME ===--- */
input[type="checkbox"]
{
    opacity: 0; /* Makes it invisable but still clickable */
    position: absolute; /* Won't allow this phantom button to overlap with it's label */
    transform: translate(3.5px, 2px); /* Moves this element slightly from it's actual position */
    scale: 1.25;
}

input[type="checkbox"] + label /* Selects labels for checkboxes */
{
    visibility: hidden; /* Disables this label because a new text-editable version is drawn after in it's place */
    font-weight: bold; /* Applies to the after labels */
    font-size: large; /* Applies to the after labels */
}

/* Non selected */
input[type="checkbox"] + label::after /* Creates a new after label that can have it's content changed */
{
    /* Behavior Settings */
    visibility: visible; /* Enables visability again because the parent label is hidden */
    pointer-events: none;

    /* Position & Size */
    position: relative;
    display: inline-block;
    transform: translate(-5.5px, 0px);
    height: 16px;
    width: 16px;
    line-height: 16px;

    /* Visual */
    /* Selected Visuals */
    color: red;
    background-color: lightgray;
    content: "-";
    
    /* Selected & non selected visuals */
    border: 1.5px solid gray;
    border-radius: 15px; /* Circle */
}

/* Selected */
input[type="checkbox"]:checked + label::after
{
    visibility: visible;

    /* Visual */
    color: blue;
    background-color: whitesmoke;
    content: "+";
}

/* Hover Effect */
/* Both selected & non selected */
input[type="checkbox"]:hover + label::after, input[type="checkbox"]:checked:hover + label::after
{
    border-color: dimgray;
}

/* Non selected */
input[type="checkbox"]:hover + label::after
{
    background-color: rgb(250, 180, 180);
}

/* Selected */
input[type="checkbox"]:checked:hover + label::after
{
    background-color: lightblue;
}
/*#endregion --- CSS SPECIAL UNIQUE CUSTOM CHECKBOX MADE BY ME --- */