body
{
    background-image: url("https://cdn3.emoji.gg/emojis/6276-spinning-cat.gif");
    text-align: center;
}

#sugbox
{
    align-items: center;
    border-spacing: 0px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 5px;
}

h1
{
    border-spacing: 0px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 5px;
}