{% block content %}
<link rel="stylesheet" href="/static/styles/main.css">
<form action="" method="post">
<title>State Ranker Pro+ v2.91.111.17.93.778.145 Zulu</title>
<body>
    <table>
        <td class="halfPage" id="leftPage">
            <h1>Personal State Ranker</h1>
            <table id="tableStateInput">
                <!-- Table Head -->
                <tr>
                    <th class="elemState">+/-</th>
                    <th class="elemState">Categories</th>           
                    <th class="elemState">Weak</th>
                    <th class="elemState">Strong</th>
                    <th class="elemState">Mega</th>
                </tr>
                {% for i in range(form.num_rows) %}
                <tr>
                    {# Checkbox #}
                    {% if i < categories_data|length and form.categories_data[i][1] == true %}
                        <td><input type="checkbox" name="stat_dir_{{i}}" id="stat_dir_{{i}}" value="Good" checked><label for="checkbox">+</label></td>
                    {% else %}
                        <td><input type="checkbox" name="stat_dir_{{i}}" id="stat_dir_{{i}}" value="Good"><label for="checkbox">+</label></td>
                    {% endif%}

                    {# Drop Down Select #}
                    <td>
                        {% if i < form.categories_data|length %} {# Enabled rows #}
                            <select id="dropDown_{{i}}" name="dropDown_{{i}}" style="overflow-y: auto;">
                                {% for j in range(form.categories|length) %}
                                    {% if categories[j] == categories_data[i][0] %}
                                        <option value="{{form.categories[j]}}" selected>{{form.categories[j]}}</option>
                                    {% else %}
                                        <option value="{{form.categories[j]}}">{{form.categories[j]}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% elif i < form.categories_data|length + 1 %} {# Next blank one is not disabled#}
                            <select id="dropDown_{{i}}" name="dropDown_{{i}}" style="overflow-y: auto;">
                                {% for j in range(form.categories|length) %}
                                    <option value="{{form.categories[j]}}">{{form.categories[j]}}</option>
                                {% endfor %}
                            </select>
                        {% else %} {# All other rows start disabled #}
                            <select id="dropDown_{{i}}" name="dropDown_{{i}}" style="overflow-y: auto;" disabled>
                                {% for j in range(form.categories|length) %}
                                    <option value="{{form.categories[j]}}">{{form.categories[j]}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        
                    </td>

                    {# Radio Buttons #}
                    {% for j in range(1,3+1) %}
                        {% if i < categories_data|length and j == categories_data[i][2] %}  {# First radio is checked #}
                            <td><input type="radio" name="radio_field_{{i}}" value="{{j}}" checked/></td>
                        {% elif i < categories_data|length %}
                            <td><input type="radio" name="radio_field_{{i}}" value="{{j}}"/></td>
                        {% elif j == 1 %}
                            <td><input type="radio" name="radio_field_{{i}}" value="{{j}}" checked/></td>
                        {% else %}
                            <td><input type="radio" name="radio_field_{{i}}" value="{{j}}"/></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <br>
            {{ form.button_calc }}
            <br>
            <br>
            <table> <!-- This is where tables are printed out -->
                <tr>
                    <th>State</th><!-- Header for state -->
                    <th>Score</th><!-- Header for score value -->
                </tr>
                {% for key, value in user_scorecard.items() %}
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <a href="/sug">Suggestions</a>
        </td> <!-- This td indicates the end of this half of the page -->
        <td class="vl"></td>
        <td class="halfPage" id="rightPage">
            <div id="gif-box"></div>
            <button type = "button" id = "cat_button">
                LOCK-IN
            </button>
        </td>
    </table>
</body>
<script src="/static/javascripts/main.js"></script>
</form>
{% endblock %}