{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Epic Suggestions</title>
    <link rel="stylesheet" href="/static/styles/suggestions.css">
</head>
<body>
    <h1>User Suggestions :3</h1>
    <div id="sugbox" name="sugbox"> {{ form.suggestion(cols="100", rows="8") }} </div>
    <form action="" method="post">
        {{ form.button_submit }}
        {{ form.button_truncate }} 
    </form>
</body>
</html>
{% endblock %}